mcp_kql_server/__pycache__/execute_kql.cpython-310.pyc
mcp_kql_server/__pycache__/kql_auth.cpython-310.pyc
mcp_kql_server/__pycache__/mcp_server.cpython-310.pyc
mcp_kql_server.egg-info/dependency_links.txt
mcp_kql_server.egg-info/entry_points.txt
mcp_kql_server.egg-info/PKG-INFO
mcp_kql_server.egg-info/requires.txt
mcp_kql_server.egg-info/SOURCES.txt
mcp_kql_server.egg-info/top_level.txt
